
nav{
    background: #333;
    margin: 10px;
    border-radius: 15px;
    padding: 18px 0;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 30px;
    padding: 10px 15px;
    transition: 0.3s;
}

nav a:hover{
    color: #6c63ff;
}

nav a.active{
    border-bottom: 3px solid #6c63ff;
}

.content{
    width: 90%;
    margin: auto;
}


.submit-btn{
    width: 250px;
    height: auto;
    cursor: pointer;
}


.study-embed{
    width: 400px;
    height: 250px;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
}


.study-video{
    width: 500px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}


.footer{
    text-align: center;
    padding: 20px;
}


.social-icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
}